{% extends 'base.html.twig' %}

{% block title %}hotel - Accueil
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-dismissible alert-success">
			{{ message }}
		</div>
	{% endfor %}


	<div class="card text-bg-dark rounded-0">
		<video autoplay loop muted class="d-block w-100" style="opacity: .6;" src="{{asset("video/video-accueil.mp4")}}"></video>
		<div class="card-img-overlay">
			<div class="d-flex justify-content-center flex-column align-self-center container">
				<h1 class="my-4 text-center mt-5">Accueil</h1>
				<h3 class="text-center my-5">" Lux Hotel offre un raffinement exceptionnel, chambres somptueuses, gastronomie exquise, spa exclusif, service personnalisé, et vue imprenable. "</h3>
				<div class="d-flex justify-content-center">
				<a href="{{path('app_commande')}}" class="btn btn-light mt-5 text-center ">Reservez</a>
				</div>
			</div>


		</div>
	</div>

{% endblock %}
