{% extends 'base.html.twig' %}

{% block title %}hotel - Accueil
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-dismissible alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<div id="video" class="position-relative">
		<video autoplay loop muted class="d-block w-100" src="{{asset("video/hotel.mp4")}}"></video>
		<div class="position-absolute top-50 start-50 translate-middle text-center">
			<h1 class="my-4 text-center text-light">Accueil</h1>
			<p class="text-light text-center fw-bold">L'hôtel de luxe offre un raffinement exceptionnel, chambres somptueuses, gastronomie exquise, spa exclusif, service personnalisé, et vue imprenable.</p>

			<a href="{{path('app_commande')}}" class="btn btn-light my-4 ">Réservation</a>


		</div>
	</div>

{% endblock %}
